body {
  margin: 0;
  font-family:'Russo One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(45deg, black,slategray,black,slategray,black,slategray,black,slategray); */
  background-color: rgb(173, 229, 252);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-section {
  background-image: url("../public/grass-background.png");
  /* background-image: linear-gradient(315deg, black,slategray,black,slategray,black,slategray,black,slategray); */
  /* background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(47,42,42,1) 50%, rgba(244,44,50,1) 100%); */
}

.site-title {
  font-family: 'Russo One';
}

.nav-tab {
  background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(47,42,42,1) 50%, rgba(244,44,50,1) 100%);
}

.pokedex-style{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.releases-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-bottom {
  background-image: linear-gradient(315deg, whitesmoke,slategray,whitesmoke,slategray,whitesmoke,slategray,whitesmoke,slategray);
}

.text-container {
  border: black, 5px, solid;
}

textarea{
  outline:black,3px,solid;
}


@tailwind base;
@tailwind components;
@tailwind utilities;